@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #d9edfc;
  --foreground: #171717;

  --card-primary: white;
  --card: var(--color-sky-100);
  --card-foreground: var(--color-sky-900);
  --sidebar: white;
  --topbar: white;
  --primary-foreground: var(--color-sky-500);
  --card-modal: white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.dark {
  --background: #1C1C1E;
  --foreground: #ededed;

  --card: #2C2B30;
  --card-foreground: white;
  --sidebar: #1e293b;
  --topbar: #1e293b;
  --card-primary: #242424;
  --text-primary: white;
  --primary-foreground: white;
  --card-modal: #1C1C1E;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-sidebar: var(--sidebar);
  --color-topbar: var(--topbar);
  --color-card-primary: var(--card-primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card-modal: var(--card-modal)
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 1s ease, color 1s ease;
}